@use '../base/variables' as *;

.separator
{
	height: 1px;
	background-color: $lighter-gray;
}

.footer
{
	color: $gray;
	text-align: center;
	font-size: 14px;
}

.link
{
	color: $black;
	font-weight: 500;
}