html { scrollbar-width: thin; }

body
{
	color: $black;
	font-family: $Inter;
	background-color: $white;
}

section
{
	transform: translateZ(0);
	perspective: 1000px;
	backface-visibility: hidden;
}

.container
{
	width: 100%;
	margin: 0 auto;
	max-width: 1360px;
	padding-top: 40px;

	@include tr(0.3, padding-top);

	&:has(.login-wr),
	&:has(.registration-wr) { padding-top: 0; }
}