@use './base/normalize' as *;

html { scrollbar-width: thin; }

body
{
	color: $black;
	font-size: 14px;
	line-height: 20px;
	font-family: $Inter;
	background-color: $white;

	&:has(.popup-container),
	&:has(.loader-wr) { @include scroll-lock(); }
}

section
{
	transform: translateZ(0);
	perspective: 1000px;
	backface-visibility: hidden;
}

.container
{
	width: 100%;
	margin: 0 auto;
	max-width: 1366px;
	padding-top: 40px;

	@include tr(0.3, padding-top);

	&:has(.login-wr),
	&:has(.registration-wr) { padding-top: 0; }
}

.base-popup
{
	padding: 16px;
	min-width: 400px;
	border-radius: 12px;
	background-color: $white;

	display: flex;
	row-gap: 16px;
	flex-direction: column;

	.buttons
	{
		display: flex;
		column-gap: 12px;

		button { flex: 1; }
	}
}